{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Contrato para la ronda  {{round}}
{% endblock %}

{% block content %}
	<p> En la ronda {{round}} del Torneo ronda usted tendrá un <b><i>Contrato
	{% if contract_A_tournament %}
        A. <br>
        </i></b>Recibirá $2.000 por cada <i>secuencia</i> correcta que haga.
    {% else %}
        B. <br>
        </i></b>Recibirá $1.000 por cada <i>secuencia</i> correcta que haga.
    {% endif %} 
    </p>
    {% next_button %}

{% endblock %}
