{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %} Descripción de la tarea{% endblock %} 

{% block content %}
    <p>A continuación, usted va a ver una <i>secuencia</i> de cinco (5) <i>números</i> que debe pasar a <i>letras</i>.</p>

    <p>Sólo hay 5 letras en la traducción (Z, D, J, K, L), y serán las mismas en todas las traducciones. 
        La siguiente imagen muestra la ubicación de esas cinco letras. Esto lo puede ver debajo y confirmar en su teclado.</p>
    
        <p class="aligncenter" >
            <img  class="imagen" src = "{% static 'torneo/Teclado.jpeg' %}"/>
            </p>    

    <p>Como a cada <i>número</i> le corresponde una <i>letra</i>, debe escribir una <b><i>letra</i></b> como respuesta en cada casilla vacía.</p>

    <p>Cada vez que complete una <i>secuencia</i>, haga <i>click</i> en “Enviar”. 
        Si tiene errores, el computador le pedirá que los corrija. 
        <b>Si no tiene errores, la <i>secuencia</i> quedará completa.</b></p>

    <p> Cada vez que complete una <i>secuencia</i> cambiará la <i>letra</i> que corresponde a cada <i>número</i>. Cada <i>secuencia</i> es diferente a la anterior.</p>

    <p> Usted dispondrá de 90 segundos para completar todas las <i>secuencias</i> que pueda.</p>



<p> Por favor oprima “Siguiente”  para comenzar. Una vez haga <i>click</i> empezará a correr el tiempo.</p>

{% next_button %}

{% endblock %}
