{% extends "global/Page.html" %} {% load otree static %} 

{% block title %} Ronda de Práctica {% endblock %} 


{% block content %}

<p> 
    Usted tendrá 90 segundos para probar la tarea que deberá realizar en las siguientes rondas. 
    En las rondas del <i>Torneo</i> su desempeño podrá hacerlo cambiar de contrato.
    Por esto es importante que trate de completar el mayor número de secuencias posibles. 
</p> 

</p>
    Al finalizar esta ronda, la mitad de los participantes serán asignados al <i>Contrato A</i> 
    y la otra mitad al <i>Contrato B.</i>
</p>

<h5>¿Cómo será la asignación inicial de contratos para el Torneo?</h5>

    {% if merit %}
        <h6>Según su rendimiento en esta ronda de práctica</h6>
        La mitad de los participantes que completen el mayor número de secuencias recibirán el <i>Contrato A</i> . La otra mitad recibirán el <i>Contrato B</i>.
    {% else %}
        <h6>Al azar</h6>
        Es igual de probable que reciba el <i>Contrato A</i> o el <i>Contrato B</i>. Aproveche esta ronda de práctica para familiarizarse con la tarea e ir poniendo a prueba sus capacidades. 
    {% endif %}
</p>
{% next_button %} 

{% endblock %}