{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Encuesta
{% endblock %}

{% block content %}

<p>Cómo se ve: ¿Usted generalmente es una persona que está completamente dispuesta a tomar riesgos o usted trata de evitarlos? <br>
   Por favor seleccione un número en la escala de 0 a 10:<br>
   <small><b>0</b>, significa que <i>"no está nada dispuesta a tomar riesgos"</i>; y
      <b>10</b>, significa que <i>"está muy dispuesta a tomar riesgos"</i>.</small></p>
{% formfields %}

{% next_button %}

{% endblock %}